# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
env/
ENV/
.venv/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# IDE Files
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Python Cache
# -----------------------------
.pytest_cache/
.mypy_cache/
.cache/

# -----------------------------
# Streamlit
# -----------------------------
.streamlit/secrets.toml

# -----------------------------
# Uploaded Files
# -----------------------------
uploads/

# -----------------------------
# Generated User Memory
# -----------------------------
data/user_memory.json

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Operating System Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Build Files
# -----------------------------
build/
dist/
*.egg-info/